<%- include("header"); -%>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium ac lorem vel convallis. Duis tristique mollis posuere. Pellentesque sed placerat augue. Curabitur vel ex vitae ex elementum ultrices. Aenean in sagittis nibh, ac rhoncus est. Aenean elementum consequat tempor. In quis lectus suscipit, porta urna quis, mollis magna. Ut bibendum ex sit amet mattis hendrerit. Aliquam erat volutpat. Nunc feugiat cursus ligula in convallis. Ut a nisi interdum, pharetra quam eu, hendrerit ante. Aenean dapibus magna sollicitudin, iaculis magna et, scelerisque neque. Nam egestas id nunc nec ultrices. Proin non commodo enim. Vivamus vel congue dolor.
</p>
<p>
    Nam faucibus vel metus sit amet blandit. Nunc mattis ex nulla, sed varius purus tincidunt eu. Vestibulum non commodo turpis, ac accumsan nibh. Fusce et fermentum augue, dictum dictum dolor. Nulla facilisi. Nam facilisis vehicula ipsum, sed pulvinar erat lobortis vitae. Nam vitae malesuada purus. Maecenas nunc ipsum, lacinia quis ultrices at, egestas vel arcu. Nulla facilisi. Sed risus felis, elementum vitae ex nec, interdum molestie ex. Aliquam quis feugiat lacus. Aliquam eget tincidunt justo. Nulla fringilla, orci nec dapibus gravida, nibh ligula condimentum enim, in hendrerit orci lorem id dolor. Maecenas ut interdum massa, finibus auctor nisl. Quisque ac luctus purus, a ullamcorper lorem. Etiam id aliquam orci. 
</p>

<%- include("footer"); -%>