<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>

<body>
    <h1>Today is <%= DAY %></h1>
    <ul>
<!--    <li>Garlic</li> -->
        <% for( let i = 0; i < ITEM.length; i++ ) { %>
            <li><%= ITEM[i] %></li>
        <% } %>
    </ul>
    <form action="/" method="POST">
        <input type="text" name="newItem" placeholder="Type anything">
        <button type="submit">Add</button>
    </form>
   
</body>

</html>